<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>{{{__ "name_comp"}}}</h6>
                    <p>{{{__ "footer_descript"}}}</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">{{{__ "footer_col_1"}}}</h6>
                    <p><a href="#!" class="text-reset">{{{__ "footer_col_1_rw_1"}}}</a></p>
                    <p><a href="#!" class="text-reset">{{{__ "footer_col_1_rw_2"}}}</a></p>
                    <p><a href="#!" class="text-reset">{{{__ "footer_col_1_rw_3"}}}</a></p>
                    <p><a href="#!" class="text-reset">{{{__ "footer_col_1_rw_4"}}}</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">{{{__ "footer_col_2"}}}</h6>
                    <p><a href="#!" class="text-reset">{{{__ "footer_col_2_rw_1"}}}</a></p>
                    <p><a href="#!" class="text-reset">{{{__ "footer_col_2_rw_2"}}}</a></p>
                    <p><a href="#!" class="text-reset">{{{__ "footer_col_2_rw_3"}}}</a></p>
                    <p><a href="#!" class="text-reset">{{{__ "footer_col_2_rw_4"}}}</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">{{{__ "footer_col_3"}}}</h6>
                    <p><i class="fa fa-home me-3"></i>{{{__ "footer_col_3_rw_1"}}}</p>
                    <p><i class="fa fa-envelope me-3"></i>{{{__ "footer_col_3_rw_2"}}}</p>
                    <p><i class="fa fa-phone me-3"></i>{{{__ "footer_col_3_rw_3"}}}</p>
                    <p><i class="fa fa-print me-3"></i>{{{__ "footer_col_3_rw_4"}}}</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">{{{__ "copyright"}}}</a>
    </div>
</footer>
<script src="https://use.fontawesome.com/e7b07ee176.js"></script>